<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>logout</title>
</head>
<body>
  <button id="logoutButton">LOG OUT</button>
  <a href="/users/">USERS</a>
  <script>
    const logoutButton = document.getElementById("logoutButton")

    const handleLogout = async () => {
      try{
        const response = await fetch(`http://localhost:3000/users/logout`, {
          method: "POST",
          credentials: "include"
        })
        const data = await response.json()
        if(!response.ok) throw new Error(data.message)
        console.log(data.message)
        localStorage.removeItem("userId")
        localStorage.removeItem("username")
        localStorage.removeItem("email")
        localStorage.removeItem("profile_pic")
      } catch(error){
        console.log(error.message)
      }
    }

    logoutButton.addEventListener("click", handleLogout)
  </script>
</body>
</html>