<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>password-edit</title>
  </head>
  <body>
    <form id="form">
      <label>
        Current password:
        <input type="text" name="current_password" />
      </label>
      <label>
        New password:
        <input type="text" name="new_password" />
      </label>
      <button type="submit">ENVIAR</button>
    </form>
    <a href="/users/edit">EDIT</a>

    <script>
      /* const fetchUserData = async () => {
        const userId = localStorage.getItem("userId");
        console.log({ userId });
        if (userId) {
          try {
            const response = await fetch(
              `http://localhost:3000/users/${userId}`,
              {
                method: "GET",
              }
            );
            if (response.status === 404) throw new Error("User not found");
            if (response.status === 500) throw new Error("Server error");
            const data = await response.json();
            console.log({ data });
            const userData = data.userData;
            //Aqui en verdad deberia guardarlo en useState y hacerlo cada que app renderize por primera vez o cada que edite algo del usuario
            if (userData) {
              localStorage.setItem("username", userData.username);
              localStorage.setItem("email", userData.email);
              localStorage.setItem("profile_pic", userData.profile_pic);
            } else {
              throw new Error("User data not found in response");
            }
          } catch (error) {
            console.log(error.message);
          }
        } else alert("UserId not found in localStorage");
      }; */

      const form = document.getElementById("form");

      const formData = {
        current_password: "",
        new_password: "",
      };

      form.addEventListener("input", (e) => {
        const { value, name } = e.target;
        formData[name] = value;
      });

      const handleSubmit = async (e) => {
        e.preventDefault();
        try {
          if(formData.new_password.length < 8) throw new Error("New password must have at least 8 characters")
          const response = await fetch(`http://localhost:3000/users/edit-password`, {
            method: "PUT",
            headers: {
              "Content-type": "application/json"
            },
            body: JSON.stringify(formData)
          })
          if(response.status == 400) throw new Error("Not enough data")
          if(response.status == 401) throw new Error("Passwords don't match")
          if(response.status == 404) throw new Error("User id not found")
          if(response.status == 500) throw new Error("Server error")
          const data = await response.json()
          console.log(data.message)
        } catch (error) {
          console.log(error.message);
        }
      };

      form.addEventListener("submit", handleSubmit);
    </script>
  </body>
</html>
