<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile-pic-edit</title>
</head>
<body>
  <p>Estas en profile-pic-edit</p>
  <img
    style="width: 150px; height: 150px; border-radius: 100%; object-fit: cover; object-position: top;"
    id="picturePreview"
    alt="profile-pic"
  >
  <form id="form" enctype="multipart/form-data">
    <input type="file" name="profile_pic" accept="/image">
    <button type="submit">ENVIAR</button>
  </form>
  <script>
    const picturePreview = document.getElementById("picturePreview")
    const profile_pic = localStorage.getItem("profile_pic")
    if(profile_pic) picturePreview.src = profile_pic
    else console.log("No profile_pic in localStorage")

    const form = document.getElementById("form")

    const formData = {
      profile_pic: "",
    }
    
    form.addEventListener("input", (e) => {
      const {name, value} = e.target
      formData[name] = value
    })
    
    const handleSubmit = async (e) => {
      e.preventDefault()
      console.log(formData)
    }

    form.addEventListener("submit", handleSubmit)
  </script>
</body>
</html>