<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks</title>
</head>
<body>
  <p>Estas en tareas padre xd</p>
  <ul>
    <% tasks.forEach( task => { %>
      <li>
        <p><%= task.task_title %></p>
      </li>
    <% }) %>
  </ul>
  <a href="/">HOME</a>
</body>
</html>