<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tasks-today</title>
</head>
<body>
  <p>La primera tarea <% tasks[0].task_title %></p>
  <p>Tareas de hoy xd</p>
</body>
</html>